@import "compass/css3";
@import "bootstrap-compass";
@import 'bootstrap-custom';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  display: flex;
}
