{{> title title='自訂名單下載' mdName=modelInfo.mdName}}
<div class="container">
    <!-- row div 於需要分兩欄才需要 -->
    <div class="row">
        <!-- 左欄 Start -->
        <div class="col-md-8 col-sm-7 col-xs-12">
            <!-- table set Start -->
            <div class="table_block">
                <h2>自定名單試算與下載</h2>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">是否包含模型受眾</label>
                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input type="radio" name="optradio" checked="">是</label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio">否</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">名單數試算
                        </label>
                        <div class="col-sm-8">
                            <div class="form-inline">
                                <span class="count">3,602</span>
                                <small>(含模型受眾 243)</small>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="btn-block center-block">
                    <button type="submit" class="btn btn-lg btn-default">名單數試算</button>
                    <button type="submit" class="btn btn-lg btn-default">自定名單下載</button>
                </div>
            </div>
            {{> criteria-config}}
        </div>
        <!-- 右欄 Start -->
        <div class="col-md-4 col-sm-5 col-xs-12">
            <!-- table set Start -->
            <div class="table_block table-responsive">
                <h2>客群資訊</h2>
                <h3>自定受眾</h3>
                <p>在(現有) 潛在客群中依條件挑出名單，條件可以自行設定</p>
                <br>
                <table class="table">
                    <tbody>
                        <tr>
                            <td rowspan="2">(現有) 潛在客群：</td>
                            <td>已汰舊換新車主
                                <i flow="left" tooltip="2016年有參與汰舊換新補助的車主，車主需為自然人，且舊車需為TOYOTA"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>94,076</td>
                        </tr>
                        <tr>
                            <td>最後計算日期：</td>
                            <td>2017/03/05 01:00:05</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>