<div class="login">
	<div class="loginDIV">
		<div class="container">
			<div class="row">
				<h1>和泰大數據平台</h1>
                <h2 style="color:rgb(255, 0, 0);">忘記密碼</h2>
				<!-- form set Start -->
				<form action="/system/user/forget_act" method="post" class="form-horizontal">
					<div class="form-group">
						<label for="inputName" class="col-sm-3 control-label">帳號</label>
						<div class="col-sm-6">
							<input type="text" class="form-control " id="userId" name="userId" value="" placeholder="請輸入帳號">

						</div>
					</div>
					<div class="form-group">
						<label for="inputName" class="col-sm-3 control-label">信箱</label>
						<div class="col-sm-6">
							<input type="text" class="form-control " id="inputName" name="email" value="" placeholder="請輸入信箱">
						</div>
					</div>

					<input type="submit" class="btn btn-lg btn-default" value="確定">
				</form>
        
				<div class="copyRight">
					<div class="logo">
						<img src="/images/logo.png" alt="" class="img-responsive">
					</div>
					<p class="text-center">© 2017 Maxnerva Technology Services Limited All rights reserved</p>
				</div>
			</div>
		</div>
	</div>
</div>