<div class="home_grp">
	<div class="container">
		<ul>
			<li>
				<a href="/model/modelList" class="hvr-overline-from-left">
					<div class="pic">
						<img src="/images/home_01gene.png" alt="" class="img-responsive">
					</div>
					<h2>客戶顯著特徵</h2>
					<p>建立第一階段之客戶基因庫，整合各渠道客戶資料歸戶 (非匿名)、標籤管理、特徵基因及關連基因識別。</p>
				</a>
			</li>


		</ul>
	</div>
</div>
