<div class="home_grp">
  <div class="container">
    <ul>
      {{#each navMenuList as |menu|}}
     
        {{#each menu.childMenu as |item|}} 
          {{#if item._homeFlag}}
          <li>
              <a href="{{item.url}}" class="hvr-overline-from-left">
               <div class="pic">
                  <img src="/images/{{item._icon}}" alt="" class="img-responsive">
                </div>
               <h2>{{item.menuName}}</h2>
                <p>{{item._homeCotnet}}</p>
              </a>
            </li>
          {{/if}} 
        {{/each}}

      {{/each}}
    </ul>
  </div>
</div>