<script>
  alert("NCBS作業上傳資料處理中，請稍後至實體活動清單查詢");
  document.write("<form action=/feeddata/list method=post name=form1 style='display:none'>");
  document.write("<input type=hidden name=funCatge value='NCBS'/>");
  document.write("</form>");
  document.form1.submit(); 
</script>