<header id="header">
  <div class="container">
    <!-- LOGO -->
    <div class="logo">
      <a href="/home">
        <img src="/images/logo.png">
        <span>Customer Data Platform</span>
      </a>
    </div>
    <!-- 客戶登入 -->
    <div class="custumer">
      <a href="#" class="btn btn-default" id="setting">
        <i class="fa fa-user"></i><span>{{id}}</span> / <span>和泰大數據平台</span>
      </a>
      <div class="loginBlock" style="display: none;" id="usermenu">
        {{#each mgrMenuList.childMenu as |item|}}
        <a href="{{item.url}}" class ="btn btn-default">{{item.menuName}}</a>
        {{/each}}
        <a href="/logout" class="btn btn-warning">登出</a>
      </div>
    </div>
  </div>
  <button type="button" class="menuBtn fa fa-bars" style="display: none;"></button>
</header>