<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>Demand Intelligence Customer Data Platform</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<!-- datepicker -->
<link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
<!-- font awesome -->
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/cdp.css">

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<!--<script type="text/javascript" src="/js/jquery-ui.js"></script>-->
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/zh-tw.js"></script>

<script type="text/javascript" src="/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/js/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="/js/cdp.js"></script>
<!--<link rel='stylesheet' href='/css/jquery/jquery-ui.css' />-->