<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<title>Demand Intelligence Customer Data Platform</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/css/bootstrap-theme.min.css">
<!-- datepicker -->
<link rel="stylesheet" href="/stylesheets/css/bootstrap-datepicker.min.css">
<!-- font awesome -->
<link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/css/cdp.css">

<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/moment.min.js"></script>
<script type="text/javascript" src="/javascripts/zh-tw.js"></script>

<script type="text/javascript" src="/javascripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-slider.min.js"></script>
<script type="text/javascript" src="/javascripts/cdp.js"></script>
<link rel='stylesheet' href='/stylesheets/jquery/jquery-ui.css' />